.collapsiblockTitle button {
  display: block;
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
  text-align: left;
  color: #0071b3;
  border: none;
  background: url(../../images/expanded-dark.svg) no-repeat right;

  &:hover {
    color: #018fe2;
  }

  &.collapsiblock-color-switcher {
    background-image: url(../../images/expanded-white.svg);
  }
}

div .collapsiblockTitleCollapsed button {
  background-image: url(../../images/collapsed-dark.svg);

  &.collapsiblock-color-switcher {
    background-image: url(../../images/collapsed-white.svg);
  }
}

.collapsiblockContent {
  overflow: hidden;
}

[dir='rtl'] .collapsiblockTitle button {
  display: block;
  background-position: left;
}

[dir='rtl'] div .collapsiblockTitleCollapsed button {
  background-image: url(../../images/collapsed-rtl-dark.svg);
  background-position: left;

  &.collapsiblock-color-switcher {
    background-image: url(../../images/collapsed-rtl-white.svg);
  }
}
