parameters:
  level: 6
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.iterableValue
  stubFiles:
    - './tests/phpstan/stubs/FormStateInterface.stub'
    - './tests/phpstan/stubs/ViewsPluginInterface.stub'
