/******************** Chart *****************************/
.gsc-chart{
   text-align: center;
   .content{
      text-align: center;
      > div{
         display: block;
      }
      .icon{
         font-size: 25px;
         margin-top: 5px;
      }
      .title{
         font-size: 18px;
         font-weight: 500;    
         position: relative;
         margin-bottom: 15px;
         margin-top: 20px;
      }
   }
}
