.gsc-our-partners{
  @include clearfix();
  margin-bottom: 45px;
  .image{
    width: 35%;
    float: left;
    @include media-breakpoint-down(sm){
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .content-inner{
    width: 65%;
    float: left;
    padding-left: 30px;
    @include media-breakpoint-down(sm){
      width: 100%;
      padding-left: 0;
    }
    .title{
      font-size: 18px;
      color: $black;
      font-weight: 600;
    }
    .info{
      font-size: 12px;
      padding: 5px 0 12px;
      .category{
        color: $theme-color;
      }
    }
  }
}