.gsc-progress-box{
   text-align: center;
   padding: 0 15px;
   overflow: hidden;
   @include media-breakpoint-down(md){
    margin-bottom: 30px;
   }
   .box-content{
      width: 190px;
      height: 190px;
      position: relative;
      margin: 0 auto 50px;
      padding: 50px;
      max-width: 100%;
   }
   .box-background {
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       z-index: 1;
       background-size: cover;
      border-radius: 50%;
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        border-radius: 50%;
      }
   }
   .icon-inner {
      position: relative;
      left: 0;
      z-index: 11;
      width: 100%;
      text-align: center;
   }
   .box-icon{
    display: inline-block;
    i{ 
      color: $white;
      font-size: 64px;
    }
   }
   .step-number {
       width: 60px;
       height: 60px;
       border-radius: 50%;
       background: #674df0;
       color: #fff;
       font-family: "Poppins",sans-serif;
       font-size: 20px;
       text-align: center;
       line-height: 60px;
       position: absolute;
       bottom: -30px;
       left: 50%;
       margin-left: -30px;
       z-index: 11;
       -webkit-transition: all .35s;
       transition: all .35s;
      &:after {
        content: '';
        width: 20px;
        height: 20px;
        background: #fff;
        -webkit-transform: scale(0);
        transform: scale(0);
        position: absolute;
        top: -3px;
        right: -3px;
        z-index: 11;
        border-radius: 50%;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
      }
   }
  @include media-breakpoint-up(lg){
    .box-line {
      background: #1b1f2e;
      height: 6px;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      width: 300px;
      &.line-right {
         left: 100%;
      }
      &.line-left {
         right: 100%;
      }
    }
  }
  &:hover{
    .step-number{
      background: $theme-color-second;
      color: $theme-color-three;
      &:after{
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
} 