.gsc-tabs{
  .tabs_horizontal{
    .nav-tabs{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-left: -5px;
      border: 0;
      > li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        @media (max-width:480px){
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 10px;
        }   
        > a {
          background: $theme-color-second;
          color: $theme-color-three;
          padding: 15px 20px;
          font-size: 16px;
          font-weight: 500;
          display: inline-block;
          width: 100%;
          position: relative;
          @include media-breakpoint-down(md){
            padding: 10px;
            font-size: 18px;
          }  
          &:after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            background: $theme-color-second;
            @include size(11px,11px);
          }   
          &.active {
            background: $theme-color;
            color: $white;
          }
        }        
      }
    }
    .tab-content{
      padding: 60px 0 0;
      font-size: 18px;
      line-height: 36px; 
      @include media-breakpoint-down(lg){
        padding-top: 30px;
      }    
    }

  }
  .tabs_vertical{
    .nav-tabs{
      width: 25%;
      float: left;
      > li{
        @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));        
        display: block;
        margin-bottom: 20px;
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        a{
          width: 100%;
          display: block;
          padding: 10px 20px;
          font-size: 18px;
          background: $theme-color;
          color: $white;
          &.active {
            background: $white;
            color: $black;
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .tab-content{
      width: 75%;
      float: left;
      padding-left: 15px;
      .tab-pane{
        background: $white;
        @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
        padding: 30px;
      }  
    }
  } 
}