.area-main-menu{
	.menu-toggle{
		display: none;
	}
}
@media(min-width: 1024px){
	//colors
	.navigation {
		position: relative;
		clear: both;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.gva_menu_main {
			float: left;
			position: relative;
			li {
				position: relative;
				a{ 
					text-align: left!important;
					.icaret{
						margin-left: 4px;
						border: none!important;
						font-size: 8px;
					}
				}
			}
			> li {
				display: inline-block;
				padding: 35px 15px;					
				@include media-breakpoint-down(md){
					padding-left: 10px;
					padding-right: 10px;
				}
				@include media-breakpoint-down(sm){
					padding-left: 8px;
					padding-right: 8px;
				}
				 &.gva-mega-menu{
				 	position: static!important;
				 	> .sub-menu{
				 		width: 100%;
				 	}
				 }
				&:hover {
					@include media-breakpoint-up(md){
						> ul.sub-menu, div.sub-menu {
							display: block;
							visibility: visible;
							@include opacity(1);
							top: 99%;
		               transform: rotateX(0);
						}
						> a {
							color: $theme-color;
						}
					}	
				}
				> a {
					display: block;
					position: relative;
					font-size: 16px; 
					font-weight: 400;
					text-transform: capitalize;
					@include transition(all 0.35s);
					text-align: center;		
					font-family: $headings-font-family;	
					color: var(--menu-link-color);		
					&:hover, &:focus, &:active{
						color: var(--menu-link-color-hover);
					}
					&.is-active{
						color: var(--menu-link-color-hover);
					}
					> span{
						position: relative;
						padding-bottom: 6px;
						.icaret{
							
						}
					}
				} 
				&.menu-item--active-trail > a{
					color: var(--menu-link-color-hover);
					&:before {
						width: 100%;
					}
				}
				&.megamenu{
					&.menu-columns-2{
						> ul.sub-menu{
							> li{
								width: 50%;
								float: left;
							}
						}
					}
					&.menu-columns-3{
						> ul.sub-menu{
							> li{
								width: 33.33%;
								float: left;
							}
						}
					}
					&.menu-columns-4{
						> ul.sub-menu{
							> li{
								width: 25%;
								float: left;
							}
						}
					}
					&.menu-columns-5{
						> ul.sub-menu{
							> li{
								width: 20%;
								float: left;
							}
						}
					}
				} 
				&.menu-list{
					ul.sub-menu{
						min-width: 250px;
					 	> li{
							border-bottom: 1px solid $border-color;
							> a{
								padding: 10px 15px;
								text-transform: uppercase;
							}
						}	
					}
				}
			}
			.megamenu {
				position: static;
				>.sub-menu {
					width: 100%;
					padding: 20px;
					.sub-menu{
	               transform: rotateX(0);
					}
					> li {
						border: none;
						position: static;
						padding: 0 15px;
						> ul.sub-menu {
							@include media-breakpoint-up(sm){
								display: block!important;
								visibility: visible;
							}
							visibility: visible;
							position: static;
							border-width: 0;
							padding: 0;
							min-width: inherit;
							width: 100%;
							background-color: transparent;
							@include opacity(1);
							@include box-shadow(none);
							li{
							 	padding: 10px 0 0;
							 	margin-bottom: 0; 
							 	border: none;
							 	font-family: $headings-font-family;
							}
						}
						> a {
							display: block;
							font-size: 15px;
							color: $black;
							font-weight: 600;
							text-transform: none;
							padding: 0 0 5px;
							margin-bottom: 5px;
							border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
							position: relative;
							font-family: $headings-font-family;
							&:after{
								display: none;
							}
							&:hover {
								text-indent: 0;
							}
						}
						&:hover ul {
							transform: translate(0, 0);
						}
					}
				}
			}
			.sub-menu {
				top: 99%;
				@include opacity(0);
				position: absolute;
				min-width: 280px;
				background-color: var(--submenu-bg-color);
				color: var(--submenu-color);
				border-top: 3px solid $theme-color;
				z-index: 999;
				left: 0;
				padding: 15px 20px 0;
				visibility: hidden;
				@include opacity(0);
				@include transition(all 0.2s ease-out);
				@include box-shadow(0px 4px 4px 1px rgba(0, 0, 0, 0.2));
	          transform: rotateX(-90deg);
	          transform-origin: 0 0;
				> li {
					padding: 0 0 9px 0;
					margin-bottom: 9px;
					border-bottom: 1px solid $border-color;
					> a {
						display: block;
						line-height: 26px;
						text-decoration: none;
						font-size: 15px;
						font-weight: 400;
						text-transform: none;
						@include transition(all 0.2s ease-out);
						position: relative;
						color: var(--submenu-link-color);
						&:hover, &:focus, &:active {
							color: var(--submenu-link-color-hover);
						}
					}
					&:last-child{
						border-bottom: 0;
					}
					ul {
						position: absolute;
						top: 0;
						right: 0;
						min-width: 250px;
						visibility: hidden;
						@include opacity(0);
						display: none;
						z-index: 11; 
					}
					&:hover > ul {
						@include media-breakpoint-up(md){
							visibility: visible;
							@include opacity(1);
							display: block;
							left: 100%;
						}
					}
				}
			}
		}
	}
}	

body.header-absolute{
	.navigation {
		ul.gva_menu{
	   	> li {
	   		> a{
	   			color: $white!important;
	   		}
	   	}
	   }	
	}
}

//Widget inner megamenu
.gva-mega-menu{
	.block-blocktabs{
    position: relative;
    .ui-widget{
      font-family: $font-family-base;
      font-size: $font-size-base;
    }
    .ui-tabs-nav{
      padding: 0;
      position: static;
      width: 15%;
      float: left;
      > li{
        background: none;
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        float: none;
        clear: both;
      	padding-right: 20px;
        > a{
         font-size: 12px;
         text-transform: uppercase;
         font-family: $font-family-base;
        	border-bottom: 1px solid $border-color;
         font-weight: 600;
         padding-bottom: 10px;
        	margin-bottom: 10px;
        	width: 100%;
        }
        &:last-child{
          > a{
            padding-right: 0;
          }
        }
        &.ui-tabs-active{
           > a{
            color: $theme-color;
           }
        }
      }
    }
    .ui-tabs-panel{
    	float: left;
    	width: 85%;
    }
  }
}
